
.room__container__room-details__name {
  font-size: 8vh       !important;  /* was 4vh, now extra big */
  color:     #FFFFFF   !important;  /* white */
}

.room__container__current-time {
  font-size: 24vh       !important;  /* match room name */
  color:     #FFFFFF   !important;
}

.room__container__status__title__label1 {
  font-size: 6vh      !important;  /* was 6vh, now bigger */
  color:     #FFFFFF   !important;
}

.room__container__status__title__label2 {
  font-size: 6vh       !important;  /* was ~3.3vh, now match scale */
  color:     #FFFFFF   !important;
}
