/* Current time and date */ 
.room__container__current-time { 
    font-family: Crestron,sans-serif; 
    font-style: normal; 
    line-height: .75em; 
    font-size: 8vh; 
    font-weight: 400; 
    float: right; 
    margin-right: 5vh; 
    margin-top: 2.5vh; 
} 
